# Fichiers temporaires.
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Fichiers de netlist (exported from Eeschema).
*.net

# Fichiers d'autoroutage (exporté depuis Pcbnew).
*.dsn
*.ses

# Fichier de BOM exportés.
*.xml
*.csv

# Dossier de backups KiCad.
*-backups